

section {
  width: 80%;
  padding: 50px 10%;
}

h1 {
  display: inline;
  font-family: Arial;
  color: rgba(255, 255, 255, 255);
}

.white {	
background: rgba(255, 255, 255, 255);
}

.blue {
  background: rgba(147, 204, 224, 0.5);
}

.page {
  background-image: url("https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



